[submodule "rbenv"]
	path = vendor/rbenv
	url = https://github.com/rbenv/rbenv.git
[submodule "git-extras"]
	path = vendor/git-extras
	url = https://github.com/tj/git-extras.git
[submodule "z"]
	path = vendor/z
	url = https://github.com/rupa/z.git
[submodule "rbenv-vars"]
	path = link/.rbenv/plugins/rbenv-vars
	url = https://github.com/rbenv/rbenv-vars.git
[submodule "ruby-build"]
	path = link/.rbenv/plugins/ruby-build
	url = https://github.com/rbenv/ruby-build.git
[submodule "rbenv-default-gems"]
	path = link/.rbenv/plugins/rbenv-default-gems
	url = https://github.com/rbenv/rbenv-default-gems.git
[submodule "rbenv-whatis"]
	path = link/.rbenv/plugins/rbenv-whatis
	url = https://github.com/rkh/rbenv-whatis.git
[submodule "rbenv-use"]
	path = link/.rbenv/plugins/rbenv-use
	url = https://github.com/rkh/rbenv-use.git
[submodule "rbenv-update"]
	path = link/.rbenv/plugins/rbenv-update
	url = https://github.com/rkh/rbenv-update.git
[submodule "pyenv"]
	path = vendor/pyenv
	url = https://github.com/pyenv/pyenv.git
[submodule "goenv"]
	path = vendor/goenv
	url = https://github.com/syndbg/goenv.git
